@mixin mdico($icon:'') {
    display       : inline-block;
    font-family   : 'mdico';
    font-style    : normal;
    font-variant  : normal;
    font-weight   : normal;
    line-height   : 1;
    speak         : none;
    text-transform: none;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

    @if $icon {
        &:before{
            content: $icon;
        }
    }
}