@mixin textTruncateMultiline($line-height, $lines) {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	display: -webkit-box;
	line-height: $line-height;
	max-height: $line-height * $lines;
	overflow: hidden;
}
